body {
    background-color: #191a24;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }

.btn a {
    display: inline-block; /* Строчно-блочный элемент */
    background: #ffeca9; /* Серый цвет фона */
    color: #102770; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    text-decoration: none;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 12px 50px 0 rgb(255 235 167 / 15%);
   }

.btn-check-on a{
    background: #ffffff;
  }

.btn {
    text-align: center;
    }

.btn-info a {
  background: #ffffff;
  margin-bottom: 100px;
}

.btn-info {
  text-align: center;
  width: 800px;
}

.btn-info-long {
  text-align: center;
  width: 800px;
}

.btn-info-long a {
  background: #191a24;
  border: 2px solid #ffffff;
  color:#ffffff;
  box-shadow: none;
}

.btn-info-long a:hover {
  background: #ffffff;
  color:#102770;
}

.btn a:hover{
  background: #ffffff; /* Цвет фона */
}
  
h1 {
    width: 900px;
    margin: 0 auto 8px;
    font-family: inherit;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
  }

h2 {
  color: #ffffff;
  width: 900px;
  margin: 0 auto 8px;
  font-family: inherit;
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  padding-top: 80px;
}

h3 {
    width: 900px;
    margin: 0 auto 8px;
    font-family: inherit;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 48px;
  }

.site-header {
    height: 190px;
    margin-bottom: 50px;
    padding-top: 30px;
    background-image: url(mainback.png);
    color: #ffffff;
    text-align: center;
  }

.site-header p {
    width: 255px;
    margin: 0 auto 26px;
    text-align: center;
    font-size: 16px;
    line-height: 24px; 
  }

.site-header h1 {
    display: block;
    margin: 0 auto;
    color: #ffeca9;
  }

.subparagraphs {
  width: 280px;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: left;
  margin-left: 315px;
}

.subparagraphs-sub {
  text-align: right;
}

.exit-btn {
  padding-top: 90px;
  padding-bottom: 60px;
}

.left-col-table {
  text-align: left;
  width: 800px;
}

.add-list li {
  margin-left: 10px;
}

.description {
  margin-left: 60px;
  margin-top: 25px;
}

.team-members ul, li {
  font-family: inherit;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
  width: 200px;
  margin: 0 auto;
}

.team-members h3 {
  font-size: 24px;
}

.left-col-table u {
  text-decoration-color:#ffeca9;
}

.m-title {
  text-align: center;
  font-size: 30px;
}
  
  div.two-blocks {
  width: 1300px;
  }

  div.left-block {
  float: left;
  width: 400px;
  }

  div.right-block {
  float: right;
  width: 700px;
  text-align: left;
  }

  img {
    width: 800px;
  }
  