*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
  }
  
  body{
    background: #f1f1f1;
  }
  
  .container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: url("./images/answer_box.jpg") center no-repeat;
    background-size: 2000px 850px; 
  }

  .accordion{
    max-width: 800px;
    padding: 20px;
  }
  
  .accordion-item{
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
  }
  
  .item-header{
    padding: 14px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .title{
    font-size: 24px;
    font-weight: 600;
  }
  
  .icon{
    width: 28px;
    height: 28px;
    border: 2px solid #000;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 25px;
  }
  
  .text{
    color: #716f6f;
    padding: 0 6px;
    max-height: 0;
    overflow: hidden;
    font-size: 18px;
  }
  
  .accordion-item.active .text{
    max-height: 600px;
    transition: 4s linear;
  }
  